<div class="footer">
    <div class="pull-right">
        <a href="" onclick="window.open('https://wrapbootstrap.com/theme/inspinia-responsive-admin-theme-WB0R5L90S','insipinia'); return false;" target="_blank">Template by Insipina</a>
</div>
    <div>
        <a href="" onclick="window.open('http://codingbyhectorflores.com/','insipinia'); return false;" target="_blank"><strong>Hector Flores</strong></a> Light Project Tracking &copy; 2014-2015
    </div>
</div>
