<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">


        <div class="navbar-header" style="width:500px">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <h2><i class="fa fa-pagelines"></i>  <strong>Light Project Tracking</strong>  </h2>
            
        </div>


    </nav>
</div>